.navbar-default {

    /** background color of our navbar **/
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}


.nav-item {
    /** padding for the navigation items **/
    padding-left: 20px;
    padding-right: 20px;

}


.top-buffer {

    /** this buffer is needed to add spacing from the navbar and the content **/
    margin-top: 40px;
    margin-bottom: 40px;
}

main {
    height: calc(100vh-85px);
    /** pushes the main container to the left  (left as 0 for now) **/
}

#address {
    visibility: hidden;
}

.navbar-nav {
    visibility: hidden;
}

.hidden {

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.firebaseui-container{
    
    box-shadow:none !important;
    
}

.container{
    /** background-color:#F2F0ED; **/
    max-width: none;
    max-height: none;
    padding-top: 40px;
    height: calc(100vh - 85px);
    padding-bottom: 0px;
}