
    
    
/* for 700px and 200px*/
@media screen and (min-width: 200px) and (max-width: 700px) {
* { font-size: 0.8rem; }
#menu_bar {  
    background-color:white;   
}
}   
/* for 1200px and 700px */
@media screen and (min-width: 700px) and (max-width: 1200px) {
* { font-size: 0.9rem; }
body{        
    background-color:green;
}
}   
/* for 1500px and 1200px*/
@media screen and (min-width: 1200px) and (max-width: 1500px) {
body{     
    background-color:darkgray;
    margin:0;
    padding:0;
}
#menu_bar{        
    display:flex;
    background-color:white;
    height:100px;
    flex-direction:row;
    flex-wrap:wrap;
}  
#menu_right{
    height:100px;
    align-items:center;
    width:60%;     
}  
#menu_left{     
    height:100%;
    width:40%;
} 
#menu_left p{      
    display:flex;
    align-items:center;
    font-size:16pt;
    padding:0;
    margin:0;
    height:100%;
    width:100%;
}         
.menu{              
    display:flex;
    list-style-type: none;
    height:100%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}      
.menu li{        
    display:flex;
    font-size:16pt;
    height:100%;
    align-items:center;
}  
#search_area form{     
    margin:0 auto;
}
#search_area h1{      
    height:85px;
    padding:5%;
    margin:0;
    width:20%;
}  
#search_top{     
    padding:8.0pt;     
}  
#search_bottom{      
    padding:8.0pt;
}
#search_area fieldset{     
    height:145px;
    border:none;
}  
#search_area fieldset input{     
    width:200pt;
    height:25pt;
    font-size:16pt;
}  
#suggested_listings{      
    height:200pt;
    background-color:white;
}
}

