.navbar-default {

    /** background color of our navbar **/
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}


.nav-item {


    /** padding for the navigation items **/
    padding-left: 20px;
    padding-right: 20px;

}

.navbar-nav {
    visibility: hidden;
}

.top-buffer {

    /** this buffer is needed to add spacing from the navbar and the content **/
    margin-top: 40px;
    margin-bottom: 40px;
}

.prfl-user-icon {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    float: left;
    background-color: #F8F8F8;
    top: 0px;
    background-size: cover;
    background-image: url(../img/silhouette.jpg);
    margin-bottom: 25px;
    background-position: center;
    visibility: visible;
}


.opt-btn {
    color: #1A1A1A;
    border: 1px solid #EBEBEB;
    padding: 3px 5px;
    width: 150px;
    border-radius: 3px;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.hidden {

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;

}


#loading_overlay {

    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s ease;

}

.firebaseui-container {

    box-shadow: none !important;

}
