
        
        
      /* for 700px and 200px*/
      @media screen and (min-width: 200px) and (max-width: 700px) {

        * { font-size: 0.8rem; }

          menu_bar{
              
              background-color:white;
              
              
              
          }

      }
        
        
      /* for 1200px and 700px */
      @media screen and (min-width: 700px) and (max-width: 1200px) {

        * { font-size: 0.9rem; }
          body{
              
              
              background-color:green;
          }

      }
        
        
        
      /* for 1500px and 1200px*/
      @media screen and (min-width: 1200px) and (max-width: 1500px) {

        * { font-size: 1.0rem; }

          body{
              
              background-color:darkgrey;
              margin:0;
              padding:0;
          }
          
          #menu_bar{
              
              display:flex;
              background-color:white;
              height:100px;
              align-items:center;

          }
          
          
          menu_right{

              display:flex;
              width:60%;
              height:100px;
              align-items:center;
              

              
          }
          
          menu_left{
              
              display:flex;
              width:40%;
              height:100px;

          }
          
          menu_left p{
              
              display:flex;
              align-items:center;
              font-size:16pt;
              height: 100%;
              padding:0;
              margin:0;

          }
          .menu{
              
              display:flex;
              width:90%;
              list-style-type: none;
              height:100%;
              justify-content: flex-end;
              justify-content: space-between;
              align-items:center;
              margin: 0;
              padding: 0;

          }
          
          .menu li{
              
              font-size:16pt;
              align-items:center;

      
          }
          
        
      }