.navbar-default {

    /** background color of our navbar **/
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.nav-item {


    /** padding for the navigation items **/
    padding-left: 20px;
    padding-right: 20px;

}
.top-buffer {

    /** this buffer is needed to add spacing from the navbar and the content **/
    margin-top: 40px;
    margin-bottom: 40px;
}
#autocomplete {
    float: left;
    width: 30vw;
}
#autocomplete::placeholder {
    position: relative;
    left: 30px;
}
i {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    right: 29.5vw;
}
#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}
#user_login {
    display:inline;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:none;
}
#cards-container {
    width: 55vw !important;
    display: flex !important;
    flex-flow: column nowrap !important;
}
.listing {
    margin: 20px;
    height: 25vh;
    width: 40vw;
    display: flex;
    border: 1px solid black;
}
.listing img {
    width: 40%;
    height: 100%;
}
.listing-content {
    width: 60%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 90%;
}
#address {
    align-self: flex-start;
}