.navbar-default {

    /** background color of our navbar **/
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}


.nav-item {


    /** padding for the navigation items **/
    padding-left: 20px;
    padding-right: 20px;

}


.top-buffer {

    /** this bufer is needed to add spacing from the navbar and the content **/
    margin-top: 60px;
    margin-bottom: 60px;
}


#main {

    /** pushes the main container to the left  (left as 0 for now) **/
}



#howitworks{


    margin-top: 75px;

}


#ready{

    margin-top: 75px;

}