.navbar-default {

    /** background color of our navbar **/
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}


.nav-item {


    /** padding for the navigation items **/
    padding-left: 20px;
    padding-right: 20px;

}


.top-buffer {

    /** this bufer is needed to add spacing from the navbar and the content **/
    margin-top: 40px;
    margin-bottom: 40px;
}


#main {

    /** pushes the main container to the left  (left as 0 for now) **/
}


.login_form {

    display: none;
    /* this only shows up when a button is clicked */

}

.login_form {

    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.op-click{
    
opacity: 0.2;

}